/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2016, 11:22:30
    Author     : nadinael silva teixeira
    email: nadinael.silva@gmail.com
*/

.bib-navbarras{
    background-color: #1e94d2;

    min-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.bib-navbarra > img{
    margin-top: 10px;
    margin-left: 5px;
}


/* barra esquerda */
.bib-leftbar{

    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;

    width: 210px;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 9888;
    margin-left: -250px;
    transition: margin-left 0.8s;
    overflow-y: auto;
    
    border-right-color: #000;

}

@media(min-width:960px){
    .bib-leftbar{
        margin-left: 0px;
    }
}